*

!.relacher.lock
!.envrc
!cliff.toml
!CHANGELOG.md
!.gitignore
!Cargo.lock
!Cargo.toml
!README.md
!devenv.nix
!make.nix

!scripts
!scripts/*
!scripts/**/*

!crates/

!crates/splein/
!crates/splein/**/*

!crates/aurora/
!crates/aurora/Cargo.toml
!crates/aurora/src/
!crates/aurora/src/**/*
!crates/aurora/tests/
!crates/aurora/tests/**/*
!crates/aurora/examples/
!crates/aurora/examples/**/*
!crates/aurora/*md

!docs/
!docs/**/*

# To fix:
!flake.nix
!flake.lock
