*

!.relacher.lock
!.envrc
!cliff.toml
!CHANGELOG.md
!.gitignore
!Cargo.lock
!Cargo.toml
!README.md
!devenv.nix
!make.nix

!scripts
!scripts/*
!scripts/**/*

!crates/

!crates/splein-tasker/
!crates/splein-tasker/**/*

!crates/splein-rune-actions/
!crates/splein-rune-actions/**/*

!crates/splein/
!crates/splein/**/*

!crates/syndiff/
!crates/syndiff/**/*

!docs/
!docs/**/*

# To fix:
!flake.nix
!flake.lock
